albumentations==1.4.24
dagshub==0.3.45
matplotlib==3.10.0
mlflow==2.18.0
mlflow_skinny==2.18.0
monai==1.4.0
monai_weekly==1.5.dev2448
nibabel==5.3.2
numpy==2.2.1
Pillow==11.1.0
scikit_learn==1.6.1
segmentation_models_pytorch==0.3.5.dev0
torch==2.5.1
torchio==0.20.3
tqdm==4.66.5
